<div class="gallery">
    <div class="post">
        <div class="postTitle">
            <p class="moreSpace">{{post.heading}}</p>
            <p>Posted by {{post.user.username}} on {{format_date post.createdAt}}</p>
        </div>
        <p class="content">{{post.body}}</p>
    </div>
</div>