<div class="dashboard">
    {{#if loggedIn}}
    <div class="dashContent">
        <div class="somethingelse">
            <button id="newPostBtn" type="button">+ New Post</button>
        </div>
    </div>
    {{/if}}
</div>