<div class="dashboard">
    <div class="postBox">
        <div class="postTitle">
            <h2>Edit Post</h2>
        </div>
        <form class="card-body">
            <input type="hidden" name="postId" value="{{post.id}}" />

            <label class="form-label" for="postTitle">Title</label>
            <textarea name="postTitle" value="{{postTitle}}" class="form-input editTitle">{{post.heading}}</textarea>

            <label class="form-label" for="postContent">Content</label>
            <textarea name="postContent" class="form-input">{{post.body}}</textarea>

            <button type="button" class="btn updateBtn">Update</button>

            <button type="button" class="btn removeBtn">Delete</button>
        </form>
    </div>
</div>

<script src="/js/edit.js"></script>