<div class="gallery">
    {{#if loggedIn}}

    {{#each blogs}}
    <div class="post">
        <div class="postTitle">
            <p>{{title}}</p>
            <p>Posted by {{user.username}} on {{format_date createdAt}}</p>
        </div>
        <p class="content">{{content}}</p>
    </div>
    {{/each}}

    {{/if}}
</div>
