{{#if loggedIn}}

{{#each posts}}
<div class="post">
    <div class="postTitle">
        <p>{{title}}</p>
        <p>Posted by {{user.username}} on {{format_date post_date}}</p>
    </div>
    {{content}}
</div>
{{/each}}

{{/if}}